In [1]:
# Dependencies and setup

import pandas as pd
import numpy as np
import requests
import time
import json
import csv

# Read CSV file
# Zip codes from 10 mile radius of 77079 center
# Create a zip code data frame

zip_code_df = pd.read_csv("zipcodesWH.csv")
zip_code_df.head()

   response  base_zip_code  zip_code
0         0          77079     77498
1         0          77079     77071
2         0          77079     77031
3         0          77079     77407
4         0          77079     77099

In [2]:
# Calculate the total number of zip codes

print(zip_code_df["zip_code"].count())

34

In [3]:
# Drop columns not needed

zip_code_df.drop(zip_code_df.columns[1], axis=1, inplace=True)
zip_code_df.drop(zip_code_df.columns[0], axis=1, inplace=True)

zip_code_df.head()

   zip_code
0     77498
1     77071
2     77031
3     77407
4     77099

In [4]:
# Set index of data frame to be "zipcode"

zip_code_df.set_index("zip_code").head()

Empty DataFrame
Columns: []
Index: [77498, 77071, 77031, 77407, 77099]

In [5]:
# Initialize the API

import zillow

with open("./api-keys.py", "r") as f:
    key = f.readline().replace("\n", "")
    
api = zillow.ValuationApi()

In [6]:
# Zillow API Test 1 - find a place given an address (must be a curent home for sale)

address = "4337 Marina City Dr UNIT 1041 Marina Del Rey, CA"
postal_code = "90292"

data = api.GetDeepSearchResults(key, address, postal_code)

In [7]:
# Zillow API Test 2 - Find place using a zillow place id (must be a curent home for sale)

zpid="2085821797"

detail_data = api.GetZEstimate(key, zpid)

In [8]:
# Zillow API Test 3 - Find comparables (must be a curent home for sale)

zpid="2085821797"

detail_data = api.GetComps(key, zpid)

In [9]:
# Zillow API Test 4 - Get deep search results (must be a curent home for sale)

address = "4337 Marina City Dr UNIT 1041 Marina Del Rey, CA"
postal_code = "90292"

data = api.GetDeepSearchResults(key, address, postal_code)

In [10]:
# Zillow API Test 5 - Get deep comps (must be a curent home for sale)

zws_id = "X1-ZWz1gxd46pntaj_3csw9"
zpid = "2085821797"
count = 10

data = data = api.GetDeepComps(zws_id, zpid, count)