In [2]:
# Dependencies and setup
import os
import pandas as pd
import numpy as np
import requests
import time
import json
import csv

# Read CSV file
# Zip codes from 10 mile radius of 77079 center
# Create a zip code data frame

zip_codes_df = pd.read_csv("zipcodesWH.csv")
zip_codes_df.head()

   zipcode   latitude  longitude state     city
0    77024  29.769581 -95.520065    TX  HOUSTON
1    77031  29.658144 -95.541283    TX  HOUSTON
2    77036  29.698446 -95.540466    TX  HOUSTON
3    77040  29.879614 -95.529968    TX  HOUSTON
4    77041  29.860188 -95.581665    TX  HOUSTON

In [5]:
# Set index of data frame to be "zipcode"
zip_codes_df.drop(zip_codes_df.columns[4], axis=1, inplace=True)
zip_codes_df.drop(zip_codes_df.columns[3], axis=1, inplace=True)
zip_codes_df.drop(zip_codes_df.columns[2], axis=1, inplace=True)
zip_codes_df.drop(zip_codes_df.columns[1], axis=1, inplace=True)
zip_codes_df.set_index("zipcode").head()

Empty DataFrame
Columns: []
Index: [77024, 77031, 77036, 77040, 77041]

In [66]:
# Calculate the total number of zip codes

print(zip_codes_df["zipcode"].count())

50

In [67]:
# Initialize the API

import zillow

with open("./api-keys.py", "r") as f:
    key = f.readline().replace("\n", "")
    
api = zillow.ValuationApi()

In [68]:
# Zillow API Test 1 - find a place given an address (must be a curent home for sale)

address = "4337 Marina City Dr UNIT 1041 Marina Del Rey, CA"
postal_code = "90292"

data = api.GetDeepSearchResults(key, address, postal_code)

In [69]:
# Zillow API Test 2 - Find place using a zillow place id (must be a curent home for sale)

zpid="2085821797"

detail_data = api.GetZEstimate(key, zpid)

In [70]:
# Zillow API Test 3 - Find comparables (must be a curent home for sale)

zpid="2085821797"

detail_data = api.GetComps(key, zpid)

In [71]:
# Zillow API Test 4 - Get deep search results (must be a curent home for sale)

address = "4337 Marina City Dr UNIT 1041 Marina Del Rey, CA"
postal_code = "90292"

data = api.GetDeepSearchResults(key, address, postal_code)

In [72]:
# Zillow API Test 5 - Get deep comps (must be a curent home for sale)

zws_id = "X1-ZWz1gxd46pntaj_3csw9"
zpid = "2085821797"
count = 10

data = data = api.GetDeepComps(zws_id, zpid, count)